.auth-layout-container{
    background-color: #0D4571;
    display: flex;  
    justify-content: center;
    text-align: center !important;
    height: 100vh ;
    .logo-text{
        margin-top: 180px;
    }
}