.my-theme{
    --white: #ffffff;
    --black: #000000;
    --primary: #01AAE4;
    --primary-light: #00A9E085;
    --danger:#EB5E55;
    --success: #48D764;
    --warn: #ffc107;
    --lightgray: #dbdada;
    --lightgray50:#f5f6f6;
    --gray:#9c9b9b;
    --img-initials-name-background: #0D45712F50;
    --paid: #00802B;
    --due: #F44336;
    --secondary: #0D4571;
    --secondary20: #0D457120;
    --secondary40: #0D457140;
    --secondary60: #0D457160;
    --secondary80: #0D457180;
    --secondary90: #0D457199;
    --calculationTableRowBackground: #0d467138;
    --tableRowBackground: #f7f7f7;
    --tableRowBackgroundOnHover: #f5f9fb;
    --headerBackground: #f5f9fb;
    --documentBorderColor: #01AAE4;
    --documentBackgroundColor: #01AAE40D;
    --detailsBackgroundCard: #86868618;
    --dividerColor: #70707035;
    --DefaultBackgroundColor:#fbfcff;
}